<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rares.android_fundamentals">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".w5.SecondActivity"></activity>
        <activity android:name=".w5.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".w4.ConstraintLayoutActivity" />
        <activity android:name=".w4.ReyclerViewActivity">
        </activity>
        <activity android:name=".w3.FrameLayoutCodeChallenges" />
        <activity android:name=".w3.ScrollViewRelativeLayoutCodeChallengeActivity" />
        <activity android:name=".w3.SpinnerCodeChallengeActivity" />
        <activity android:name=".w3.LoginActivity" />
        <activity android:name=".w3.SpinnerActivity" />
        <activity android:name=".w3.WebViewActivity" />
        <activity android:name=".w3.ViewGroupsActivity" />
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".w2.W2" />
    </application>

</manifest>